.profile.container { width: 1200px; margin-left: auto; margin-right: auto;  text-align: center; }
.profile.container .left{ width: 49%;display: inline-block;vertical-align: top; background-color: #F2F2F2;min-height:525px;padding-bottom:30px;}
.profile.container .left .top>*{ display: inline-block;width:60%;vertical-align: top; }
.profile.container .left .top>img{ width:171px;height:171px; margin-right: 35px;}
.profile.container .left .top>ul{list-style: none;padding: 0;margin: 0; }
.profile.container .left .top>ul li{text-align: left; min-height: 25px;}
.profile.container .left .top>ul li.phone{margin-top:10px;}
.profile.container .left .top>ul li.phone label.validate{color:red;}
.profile.container .left .top>ul li.phone label.validate.sign{padding-right: 10px;}
.profile.container .left .top>ul li input{width:220px}
.profile.container .left .bottom .bio{min-height:200px;text-align: justify;padding-left: 32px;padding-right: 35px;}
.profile.container .left .bottom .button-area{padding-left: 10px;}
.profile.container .right{ width: 49%;display: inline-block; }
.profile .h1 { line-height: 2em; font-family: 'Arial Bold', 'Arial'; font-weight: 700; font-size: 32px; font-style: normal; text-align: center;  }

.profile table { border-collapse: collapse; width: 100%;}
.profile td, .profile th { vertical-align: top; padding: 5px 8px;  }
.profile th {text-align: right; color: #333; font-weight: normal;text-align: left;width: 30%;font-weight: 500;height: 30px;}
.profile td { width: 30%; text-align: left; vertical-align: top; color: #444; }
.profile td textarea{width:100%;}

.profile .phoneNumber { height: 20px; width: 200px; padding: 2px; font-size: 14px; line-height: 20px; }
.profile .button-area>button{ margin-top: 0; width: 240px; height: 45px; background-color: #007BB6;border: 1px solid #808080; border-radius: 5px; font-size: 14px;font-family: 'Arial Bold', 'Arial'; font-weight: 700; color: #FFFFFF;cursor: pointer;margin-left: 10px;margin-right: 25px; margin-top: 35px;}
.profile .button-area>button:nth-of-type(3){ float:left; margin-left: 22px;}