<header [isLoginPage]="true"></header>
<h3>Get Connected</h3>
<div class="buttons github">
      <div class="button">
            <img src="/assets/images/github-logo-Octocat.png" />
            <a id="github-button" class="btn btn-default"  href="{{gitHubLoginUrl}}">
                Sign in using Github
            </a>
      </div>
      <div class="tip">
          <h5>New to GitHub?</h5>
          <a href="https://github.com/join">Create an account</a>
      </div>
</div>     
<div class="buttons linkedin">
      <div class="button">
            <img src="/assets/images/linkedin-logo.png" />
            <a id="github-button" class="btn btn-default"  href="{{linkedInLoginUrl}}">
                Sign in using LinkedIn
            </a>
      </div>
     <div class="tip">
         <h5>New to LinkedIn?</h5>
         <a href="https://www.linkedin.com/start/join">Create an account</a>
     </div>
</div>      
 