.title >div{display: inline-block;}
.title .left{width: 42%;}
.title .rest{width:57%;text-align: left;}
.title a{text-align: left;display: inline-block;width: 50px;}
.main{display:inline-block;width:1168px;}
.main > div{display: inline-block;vertical-align: top;}
.main >div.left{width:66%;border:1px solid #000;min-height:600px;margin-right: 20px;}
.main >div.right{width:30%; height: 500px;}
.main >div.right .message textarea{border:1px solid #000;height: 500px;width:98%;}
.main >div.right .send{height: 35px;margin-top: 15px;text-align: right;width: 100%;}
.main >div.right .send .button .btn{border-radius: 5px;padding: 10px 50px;}
.main >div.right .send .button .btn.btnDisabled{background-color:gray;cursor: not-allowed;text-decoration: underline;pointer-events: none;cursor: not-allowed;}
.main ul{list-style: none;margin-bottom: 30px;}
.main ul li.ownByme{padding-left: 60px;}
.main ul li > div{text-align: left;}
.main ul li > div.top{padding-right:30px;padding-bottom: 5px;}
.main ul li > div.top>*{vertical-align: middle;}
.main ul li > div.top>span.name{font-weight:600;font-size:20px;cursor:pointer;}
.main ul li > div.top>span.created{float:right;margin-top:20px;}
.main ul li img{width:60px;margin-right: 10px;cursor:pointer;}
.main ul li > div.bottom{padding-left:60px;padding-left: 76px;color:#00B2FF;}
.main ul li.ownByme > div.bottom{padding-left:60px;padding-left: 76px;color:#000;}